
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}
<main id="main" class="site-main" role="main">

    <article id="post-59" class="post-59 page type-page status-publish hentry">

        <div class="entry-content">
            <div class="sm-row-fluid smue-row smue-row-image sme-dsbl-margin-left sme-dsbl-margin-right padding_row banner" style="background-image:url(&quot;/Assets/Client/images/front-desk-BIG.jpg&quot;);">
                <div class="sm-span12 smue-clmn  sme-dsbl-margin-left sme-dsbl-margin-right">
                    <div class="sm-row-fluid smue-row sme-dsbl-margin-left sme-dsbl-margin-right">
                        <div class="sm-span12 smue-clmn sme-dsbl-margin-left sme-dsbl-margin-right wow zoomIn delay_02s">
                            <div class="smue-text-obj sme-prvt-59-5c73ce5fcf328">
                                <h2>Hãy giữ gìn cho</h2>
                                <h1><span style="color: #00ff00;">Máy tính &#8220;khỏe&#8221;</span></h1>
                                <h2>để cuộc sống dễ dàng hơn!</h2>
                            </div>
                        </div>
                    </div>
                    <div class="sm-row-fluid smue-row sme-dsbl-margin-left sme-dsbl-margin-right">
                        <div class="sm-span12 smue-clmn sme-dsbl-margin-left sme-dsbl-margin-right wow zoomIn delay_04s">
                            <div class="smue-button-obj smue-text-align-left"><a href="#" target="_self" class="smue-btn smue-btn-rounded smue-btn-size-large">Đặt lịch ngay</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sm-row-fluid smue-row sme-dsbl-margin-left sme-dsbl-margin-right welcome_row padding_row">
                <div class="sm-span6 smue-clmn  sme-dsbl-margin-left sme-dsbl-margin-right wow slideInLeft delay_02s">
                    <div class="smue-image-obj smue-text-align-center"><img src="/Assets/Client/images/unnamed-150x150.png" title="unnamed" alt="unnamed" class="smue-image-obj-basic sme-dsbl-margin-left sme-dsbl-margin-right sme-dsbl-margin-top sme-dsbl-margin-bottom" /></div>
                </div>
                <div class="sm-span6 smue-clmn  sme-dsbl-margin-left sme-dsbl-margin-right welcome_text wow slideInRight delay_02s">
                    <div class="sm-row-fluid smue-row sme-dsbl-margin-left sme-dsbl-margin-right">
                        <div class="sm-span12 smue-clmn sme-dsbl-margin-left sme-dsbl-margin-right">
                            <div class="smue-text-obj">
                                <h2><span style="color: #595d8f;"><strong>Chào mừng đến với CPS.vn</strong></span></h2>
                                <p>&nbsp;</p>
                                <h6 style="text-align: justify;"><span style="color: #ff6600;">Nếu bạn đang có vấn đề với chiếc PC/Laptop của mình, hãy tìm đến chúng tôi. Đừng lo, mọi vấn đề sẽ sớm được giải quyết ổn thỏa thôi.</span></h6>
                                <p>&nbsp;</p>
                                <p>Với đội ngũ nhiều năm kinh nghiệm, CPS.vn là một trong những cơ sở cung cấp các dịch vụ liên quan đến PC/Laptop tốt nhất hiện tại.</p>
                            </div>
                        </div>
                    </div>
                    <div class="sm-row-fluid smue-row sme-dsbl-margin-left sme-dsbl-margin-right">
                        <div class="sm-span12 smue-clmn sme-dsbl-margin-left sme-dsbl-margin-right">
                            <div class="smue-button-obj smue-text-align-left"><a href="#" target="_self" class="smue-btn smue-btn-size-middle smue-btn-rounded">Tìm hiểu thêm</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sm-row-fluid smue-row sme-dsbl-margin-left sme-dsbl-margin-right feature_row">
                <div class="sm-span12 smue-clmn  sme-dsbl-margin-left sme-dsbl-margin-right feature_thumb">
                    <div class="sm-row-fluid smue-row sme-dsbl-margin-left sme-dsbl-margin-right feature_inner">
                        <div class="sm-span4 smue-clmn sme-dsbl-margin-left sme-dsbl-margin-right feature_thumb1">
                            <div class="smue-service-box-obj smue-service-box-centered smue-service-box-basic wow slideInDown delay_02s">
                                <div class="smue-service-box-icon-section smue-service-box-small-icon" style=" padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px;">
                                    <div class="smue-service-box-icon-holder" style=" font-size: 150px;"><img src="/Assets/Client/images/lowest-pricing-1.png" /></div>
                                </div>
                                <div class="smue-service-box-heading-section">
                                    <h3 style=" color: ;">Giá cả tốt nhất</h3>
                                </div>
                                <div class="smue-service-box-content-section">
                                    <p>Đừng lo lắng. Mọi dịch vụ và sản phẩm của chúng tôi luôn luôn được cung cấp với chi phí hợp lý nhất.</p>
                                </div>
                            </div>
                        </div>
                        <div class="sm-span4 smue-clmn sme-dsbl-margin-left sme-dsbl-margin-right feature_thumb3">
                            <div class="smue-service-box-obj smue-service-box-centered smue-service-box-basic wow slideInDown delay_04s">
                                <div class="smue-service-box-icon-section smue-service-box-small-icon" style=" padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px;">
                                    <div class="smue-service-box-icon-holder" style=" font-size: 150px;"><img src="/Assets/Client/images/experience.png" /></div>
                                </div>
                                <div class="smue-service-box-heading-section">
                                    <h3 style=" color: ;">Đội ngũ chất lượng</h3>
                                </div>
                                <div class="smue-service-box-content-section">
                                    <p>Với đội ngũ có kinh nghiệm và trình độ cao, thiết bị của bạn sẽ được nhanh chóng kiểm tra và đưa ra phương án khắc phục tốt nhất</p>
                                </div>
                            </div>
                        </div>
                        <div class="sm-span4 smue-clmn sme-dsbl-margin-left sme-dsbl-margin-right feature_thumb2">
                            <div class="smue-service-box-obj smue-service-box-centered smue-service-box-basic wow delay_06s slideInDown">
                                <div class="smue-service-box-icon-section smue-service-box-small-icon" style=" padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px;">
                                    <div class="smue-service-box-icon-holder" style=" font-size: 150px;"><img src="/Assets/Client/images/yellow-guarantee.png" /></div>
                                </div>
                                <div class="smue-service-box-heading-section">
                                    <h3 style=" color: ;">Hậu mãi No.1</h3>
                                </div>
                                <div class="smue-service-box-content-section">
                                    <p>Sản phẩm linh kiện được bảo hành ít nhất 1 năm. Dịch vụ sữa chữa sẽ được bảo hành ít nhất là 3 tháng.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sm-row-fluid smue-row sme-dsbl-margin-left sme-dsbl-margin-right team_heading">
                <div class="sm-span12 smue-clmn  sme-dsbl-margin-left sme-dsbl-margin-right wow slideInDown delay_02s">
                    <div class="smue-text-obj">
                        <h2 style="text-align: center;"><span style="color: #595d8f;"><strong>Nhận xét từ khách hàng</strong></span></h2>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="sm-row-fluid smue-row sme-dsbl-margin-left sme-dsbl-margin-right team_row padding_row">
                <div class="sm-span3 smue-clmn  sme-dsbl-margin-left sme-dsbl-margin-right">
                    <div class="smue-text-obj">
                        <h5 style="text-align: center;"><strong><span style="color: #595d8f;">Thanh Loan</span></strong></h5>
                        <p style="text-align: center;"> ⭐⭐⭐⭐⭐</p>
                        <p style="text-align: center;">
                        <p style="text-align: center;"><span style="font-family: Poppins, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400;">“Dịch vụ tận tâm, tư vấn nhiệt tình lắm cơ. Đã sửa laptop tại đây, và vẫn đang dùng tốt”</span></p>
                    </div>
                </div>
                <div class="sm-span3 smue-clmn  sme-dsbl-margin-left sme-dsbl-margin-right">
                    <div class="smue-text-obj">
                        <h5 style="text-align: center;"><span style="color: #595d8f;"><strong>Ngọc Khánh</strong></span></h5>
                        <p style="text-align: center;"> <span style="font-family: Poppins, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400;">⭐⭐⭐⭐⭐</span></p>
                        <p style="text-align: center;">
                        <p style="text-align: center;">“ÔI! Giá cả thật là rẻ quá mức. Có nhiều chương trình khuyến mãi nữa chứ”</p>
                    </div>
                </div>
                <div class="sm-span3 smue-clmn  sme-dsbl-margin-left sme-dsbl-margin-right">
                    <div class="smue-text-obj">
                        <h5 style="text-align: center;"><strong><span style="color: #595d8f;">Khắc Tín</span></strong></h5>
                        <p style="text-align: center;"> <span style="font-family: Poppins, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400;">⭐⭐⭐⭐</span></p>
                        <p style="text-align: center;">
                        <p style="text-align: center;">“Chưa sửa chữa ở đây do hôm tước tư vấn qua điện thoại thì khắc phục được lỗi luôn. Quá tuyệt!”</p>
                    </div>
                </div>
                <div class="sm-span3 smue-clmn  sme-dsbl-margin-left sme-dsbl-margin-right">
                    <div class="smue-text-obj">
                        <h5 style="text-align: center;"><strong><span style="color: #595d8f;">Võ Thanh</span></strong></h5>
                        <p style="text-align: center;"> <span style="font-family: Poppins, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400;">⭐⭐⭐⭐⭐</span></p>
                        <p style="text-align: center;">
                        <p style="text-align: center;">“Sửa xong 2 tuần thì bị hỏng, nhưng được bảo hành và vẫn xài bình thường. Tuy tốn thời gian nhưng t”</p>
                    </div>
                </div>
            </div>
            <div class="sm-row-fluid smue-row sme-dsbl-margin-left sme-dsbl-margin-right news_row padding_row">
                <div class="sm-span12 smue-clmn  sme-dsbl-margin-left sme-dsbl-margin-right news_thumb wow slideInRight delay_06s">
                    <div class="smue-service-box-obj smue-service-box-centered smue-service-box-basic">
                        <div class="smue-service-box-icon-section smue-service-box-big-image" style=" padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px;">
                            <div class="smue-service-box-icon-holder" style=" font-size: 250px;">
                                <div style="background-image: url('/Assets/Client/images/ICON-ĐẶT-LỊCH-HẸN.png');"></div>
                            </div>
                        </div>
                        <div class="smue-service-box-data-section">
                            <div class="smue-service-box-heading-section">
                                <h5 style=" color: ;">Còn chần chờ gì nữa&#8230;</h5>
                            </div>
                            <div class="smue-service-box-content-section">
                                <p>Đặt lịch hẹn để được sắp xếp thời gian tư vấn, sữa chữa tốt nhất!.</p>
                            </div>
                            <div class="smue-service-box-button-section smue-text-align-center"><a href="#" class="smue-btn smue-btn-size-middle smue-btn-rounded" rel="" style=" color: rgb(250, 246, 246);">Đặt lịch ngay</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .entry-content -->

    </article><!-- #post-## -->

</main>
