
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>404 NOT FOUND !!1</title>

    <link href="/Assets/Admin/css/404.css" rel="stylesheet">

</head>

<body id="page-top">

    <div class="container">

        <div class="error">
            <p class="p">4</p>
            <span class="dracula">
                <div class="con">
                    <div class="hair"></div>
                    <div class="hair-r"></div>
                    <div class="head"></div>
                    <div class="eye"></div>
                    <div class="eye eye-r"></div>
                    <div class="mouth"></div>
                    <div class="blod"></div>
                    <div class="blod blod2"></div>
                </div>
            </span>
            <p class="p">4</p>

            <div class="page-ms">
                <p class="page-msg"> Ồ! Có vẻ như bạn lạc đường rồi ... :( </p>
                <button class="go-back" onclick="history.back()">Quay lại</button>
            </div>
        </div>
    </div>

</body>

</html>

